.lang-logo {
  height: 0.75rem;
  width: 0.75rem;
}

.swiper {
  height: 600px;
}

.pc-center-text {
  text-align: center;
}

.pc-slider-content {
  height: 600px;
  position: relative;
}

.pc-slider-content img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.pc-slider-text {
  max-width: 75%;
  padding-left: 10%;
  position: absolute;
  bottom: 50px;
}

.tint-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  pointer-events: none;
}

.tag {
  margin: 8px;
  font-size: var(--bulma-size-medium);
}

@media screen and (max-width: 600px) {
  .tag {
    font-size: var(--bulma-size-small);
  }
}
