.pc-work-content {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem 3rem;
}

@media screen and (max-width: 600px) {
  .pc-work-content {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  .pc-work-content {
    grid-template-columns: 1fr 1fr;
  }
}
